<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agent Prototype</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/sass/custom.css">
    <link href="../../assets/stylesheets/sass/hover.css" rel="stylesheet" media="all">  
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="../../templates/agent/index.html">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="../../templates/agent/index.html">Work</a></li>
            <li><a href="../../templates/agent/about.html">About</a></li>
            <li><a href="http://designbyagent.tumblr.com" target="_blank">Journal</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <div class="container" id="intro">
    <div class="container" id="heroe home-heroe">
      <div class="col-md-12" id="main-header">
          <h2>Formed in 2010, Agent Creative sets out to create beautiful, intuitive design solutions.</h2>
        </br>
        <div class="container" id="about-subtext">
          <div class="col-md-6" id="about">
            <p class="about" id="about">
            Working with selected clients allows us to thoroughly think through issues &amp; deliver the right approach, fitted to meet every project’s needs.  Followed by a layer of pixel perfectly design &amp; a few post-launch celebratory beers, you could help us create our best work.
            </p>
          </div>
          <div class="col-md-5 col-md-offset-1" id="about-cap">
            <p class="list-head">WHAT WE DO</p>
            <ol>
              <li>UI / UX Design</li>
              <li>Website Design</li>
              <li>Illustration</li>
              <li>Typographic Design</li>
              <li>Icon Design</li>
              <li>Consulting</li>
            </ol>
          </div>
        </div>
    </div>
  </div>

  <hr>

  <div class="container" id="team-section">
    <div class="col-md-2">
      <div class="team-headline">
        <p class="list-head">CORE TEAM</p>
      </div>
    </div>

    <div class="col-md-4">
        <div class="photo" id="team-edgar">#</div>
          <div class="bio">
            <div class="name">Edgar Vargas</div>
            <div class="title">Principal</div>
            <p class="bio">Edgar is a right brained human who’s hobbies include Team Fortress 2 gaming, skateboarding & lettering on stuff.  Raised in Santa Cruz County, he takes pride on using design to help shape the community he grew up in.  At night you can find him doodling away, creating products for Agent Surplus & sorting through powerful jams to grow his Spotify playlists.</p>
          </div>
    </div>

    <div class="col-md-4 col-md-offset-1">
        <div class="photo" id="team-ally">#</div>
          <div class="bio">
            <div class="name">Alyssa Disch</div>
            <div class="title">Muscle</div>
              <p class="bio">Ally is a left brained human whos’ hobbies include cooking, photography & analyzing data in this ever changing world.  As an UCSC Anthropology Alumni, Ally’s unique approach to culture & society makes her an indispensable part of the team.  During the day Ally helps keep projects on track, at night she takes the alias of The Wild Seedling, a food blog for the average professional who’s too busy to cook but loves an array of worldly flavors.</p>
          </div>
    </div>
  </div>

<hr>

  <div class="container" id="contact">
    <div class="col-md-2">
      <div class="contact-headline">
        <p class="list-head">GET IN TOUCH</p>
      </div>
    </div>

    <div class="col-md-4">
        <div class="name">We're always looking for new partners &amp; projects.</div>
        <p class="reach">If you'd like to get in touch with us please reach out via email or give us a call.</p>
    </div>

    <div class="col-md-4 col-md-offset-1">
        <p class="about" id="email">hola&#64;designbyagent.com</p>
        <p class="about" id="phone">559.709.9279</p>
    </div>
  </div>

<hr>

<!--   <div class="container" id="map-section">
    <div class="col-md-2">
      <div class="team-headline">
        <p class="list-head">PLACES WE LOVE</p>
      </div>
    </div>

    <div class="col-md-10" id="places">
      <a href="https://www.google.com/maps/d/edit?mid=zQPM2J_AxPwI.knFZE8f_aEOc">
        <div class="map" id="map-image">
          #
        </div>
      </a>
    </div>
  </div>

<hr> -->

  <div class="footer">
    <div class="container" id="copyright">
      <div class="col-md-4" id="rights">
        <p>&copy; 2014, Agent Creative, Inc.</p>
      </div>

    <div class="col-md-6" id="social">
      <ul>
        <li><a href="https://dribbble.com">Dribbble</a></li>
        <li><a href="http://society6.com/agent">Society6</a></li>
        <li><a href="http://designspiration.net/agent/">Designspiration</a></li>
        <li><a href="https://twitter.com/edrawrve">Twitter</a></li>
      </ul>
    </div>
  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../assets/javascripts/bootstrap.js"></script>
  </body>
</html>