@import "bootstrap"
@import "sweatguru"
@import "about"

body
	padding-top: 150px	

a.navbar-brand
	background-image: url("http://media.virbcdn.com/images/96/5ac9756e6734bd47-agent-icon.png")
	background-size: contain
	background-repeat: no-repeat
	margin-top: 5px
	width: 36px
	height: 44px
	text-indent: -5000px
	margin-right: 70px

.navbar-default
	background: rgba(255, 255, 255, .9)
	border-style: none
	padding: 15px

	ul.nav li
		font-family: 'Montserrat', sans-serif

		a
			color: #777777
			&:hover,
			&:focus,
			&:active,
				text-decoration: none
				color: #f45353
				transition: 0.3s ease

h1 a
	font-size: 47px
	font-family: 'Montserrat', sans-serif
	line-height: 120%
	color: #000
	&:hover,
	&:focus,
	&:active,
		color: #f45353
		text-decoration: none
		transition: 0.3s ease

h1#home-header
	padding-bottom: 3em

h2
	font-size: 37px
	font-family: 'Montserrat', sans-serif
	color: #000
	line-height: 140%

.col-mid-8#about
	padding-left: 0px


.col-lg-4#other-case
	margin-top: 2em

p.about
	font-size: 18px
	font-family: 'Arvo', sans-serif
	color: #676464
	line-height: 180%

p2.about
	font-size: 14px
	font-family: 'Arvo', sans-serif
	color: #ADADAD
	line-height: 180%

img
	max-width: 100%
	&:hover,
	&:focus,
	&:active,
		opacity: 0.8
		transition: 0.3s ease


/* Start Footer Items */

#copyright
	width: 100%
	margin: 40px 0 40px 0
	color: #aaa

.footer 
	margin-top: 5em
	ul
		list-style-type: none
		padding: 0 !important
	li
		display: inline
		margin: 0 15px
		text-decoration: none
		color: #ADADAD
		font-family: 'Montserrat', sans-serif
		
		a
			color: #ADADAD
			&:hover,
			&:focus,
			&:active,
				text-decoration: none
				color: #f45353
				transition: 0.3s ease

/* End Footer Items */

/* Start Media Query 970px */

@media (min-width: 970px)

.navbar-default .navbar-collapse, .navbar-default .navbar-form
	border: none

.navbar-default .collapse.navbar-collapse
	padding-left: 0
	margin-left: 0


.container#intro
	padding-left: 0

	.col-md-5#about-cap
		padding-left: 0px

	#about-cap p.list-head
		padding-left: 0px

	.map#map-image
		height: 33em

	.col-md-5#about-cap
		ol
			padding-left: 0
			list-style-position: inside

#team-section
	.bio
		p.bio
			margin-bottom: 4em

p.list-head
	margin-bottom: 30px

#copyright p
	margin-bottom: 30px

#social 
	margin-top: 3px