@import "bootstrap"

body
	background-color: lightblue
	padding-top: 200px	

.navbar

h1
	font-size: 47px
	font-family: helvetica

p
	font-size: 27px

#case-study
	background-color: white
	height: 200px

.col-lg-12#featured-case-study
	margin-top: 50px
	height: 450px

#featured-case-study
	background-color: black

.row
	margin-top: 7em